* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background: url('backimage.jpg') no-repeat center center/cover;
    height: 250px;
    filter: brightness(80%);
}

.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.b1 {
    background-color: transparent;
    border: 0px;
    color: white;
    margin: 20px 50px;
}

.lang-icon {
    display: flex;
    justify-content: flex-end;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    border-radius: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    background-color: white;
    box-shadow: 0px 2px 6px 0px grey;
}

.logo-div {
    width: 40%;
    margin-bottom: 40px;
}

.logo {
    width: 100%;
}

.details {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0px;
    border-bottom: 1px solid grey;
}

.radio {
    width: 65%;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 2.5vh;
    padding-left: 5px;
}

.button-for-login {
    width: 50%;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(222, 35, 35);
    color: white;
    border: 0px;
    border-radius: 30px;
    margin-bottom: 30px;
}